.card-container{
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover{

    transform: scale(1.05);
}
.footer{
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 100px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: aquamarine;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}
#cancelBtn{
    background-color: crimson;
}